<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<location path="custom">
   <system.web>
      <authorization>
         <allow roles="Administrators" /> 
         <deny users="*" />
      </authorization>
   </system.web>
</location>
<location path="includes">
   <system.web>
      <authorization>
         <allow roles="Administrators" /> 
         <deny users="*" />
      </authorization>
   </system.web>
</location>
<location path="src">
   <system.web>
      <authorization>
         <allow roles="Administrators" /> 
         <deny users="*" />
      </authorization>
   </system.web>
</location>
<location path="vendor">
   <system.web>
      <authorization>
         <allow roles="Administrators" /> 
         <deny users="*" />
      </authorization>
   </system.web>
</location>
<location path="temp">
   <system.web>
      <authorization>
         <allow roles="Administrators" /> 
         <deny users="*" />
      </authorization>
   </system.web>
</location>
    <system.webServer>
        <rewrite>			
            <rules>
                <clear />
                <rule name="Force non-WWW and SSL" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://huushinne.nl/{R:1}" appendQueryString="true" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 2" enabled="true">
                    <match url="^.*$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{SCRIPT_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{SCRIPT_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="./index.php" />
                </rule>
				<rule name="Old Page Redirects" enabled="false" stopProcessing="true">
				  <match url=".*" />
				  <conditions>
					<add input="{OldPages:{REQUEST_URI}}" pattern="(.+)" />
				  </conditions>
				  <action type="Redirect" url="{C:1}" appendQueryString="false" redirectType="Permanent" />
				</rule>		
            </rules>
        </rewrite>
        <httpErrors>
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="https://huushinne.nl" responseMode="Redirect" />
        </httpErrors>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <urlCompression doStaticCompression="true" />
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".php" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <remove name="PHP 7.2" />
            <remove name="php-7.2.4-2" />
            <remove name="php-cgi-7.0.9" />
            <remove name="php-5.6.6" />
            <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php-7.4.25\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
